use vuedb;
use itam;
show tables;

SELECT
    u.loginID,
    u.name,
    p.product_no AS productNo,
    p.product_name AS productName,
    pd.product_detail_code AS productDetailCode,
    pd.category_code AS categoryCode,
    pd.approve,
    pd.product_state AS productState,
    pd.order_reason AS orderReason,
    pd.order_date AS orderDate
FROM tb_product_detail pd
JOIN tb_userinfo u ON pd.loginID = u.loginID
JOIN tb_product_info p ON pd.product_no = p.product_no;

    
    
select * from tb_product_detail;
select * from tb_product_info; -- 제품 입고 정보
select * from tb_category_code; -- 카테고리 코드
select * from tb_product_import; -- 제품 입고 정보

select * from tb_my_rental;

-- 번호,
-- 대여인 (tb_userinfo > name),
-- 대여장비 (tb_product_info > product_name),
-- 신청날짜 (tb_product_detail > order_date),
-- 상태(tb_product_detail > product_state = 'R')
select * from tb_product_detail where product_state='R' or product_state='O';
select * from tb_product_detail;

-- !! complete query !! ---
-- 결제 페이지를 열었을 때, 처음에 딱 나오는 리스트
select ui.name, pinfo.product_name,pd.order_date, pd.product_state
from tb_product_detail pd
left outer join tb_userinfo ui on pd.loginID = ui.loginID
left outer join tb_product_info pinfo on pd.product_no = pinfo.product_no
where product_state='R' or product_state='O'
;

-- ---------------------------------------------


-- !! complete query !! --
-- 사용신청, 반납 신청 중인 것들의 총 갯수

select count(*) from tb_product_detail where product_state='R' or product_state='O';

-- ---------------------------------------------

select * from tb_category_code;
select * from tb_product_info;

select * from tb_userinfo;
select * from tb_use_history;

select product_no, category_code, product_name, quantity from tb_product_info;
select * from tb_product_detail;
select * from tb_category_code;

select import_code, product_no from tb_product_import;
select * from tb_product_import;

select category_code, category_name from tb_category_code;

select category_code, product_detail_code, product_no, loginID, product_state from tb_product_detail;


-- category_code가 KB일 때, product_no 종류 및 수량
select product_no,quantity from tb_product_info where category_code='KB';

-- tb_product_detail 테이블에서 product_no 마다 몇 개의 수량을 현재 사용하고 있는지 체크
select product_no,count(*) from tb_product_detail
group by product_no;

select category_code, count(*) from tb_product_detail
-- where product_no is null
group by category_code
;

select * from tb_product_info where category_code='PO';

select product_no, count(*)
from tb_product_detail
group by product_no;
select * from tb_product_detail;


select product_no, count(*)
from tb_product_detail
group by product_no;

select product_detail_code,category_code,product_no
from tb_product_detail
where product_no is null;

select product_no,count(*)
from tb_product_detail
where product_no='x';

select product_no,count(*)
from tb_product_detail
where product_no='y';

select * from tb_product_detail;

select product_no,count(*)
from tb_product_detail
group by product_no;

select distinct category_code from tb_product_detail
where product_no is null;
-- [[tb_product_info]]에는 PO 수량이 13개임.
-- 근데 [[tb_product_detail]]에는 지금 46개 들어와있음.
select product_no, category_code, product_detail_code
from tb_product_detail
where product_detail_code=2 and category_code='KB' and product_no is null;



select * from tb_product_detail;
select product_detail_code, product_no from tb_product_detail;


SELECT product_detail_code, COUNT(*) AS cnt, product_no
FROM tb_product_detail
WHERE category_code = 'KB'
GROUP BY product_detail_code, product_no
ORDER BY product_detail_code;


-- -----------------------------
select *
from tb_product_detail
where category_code = 'KB'
    and product_detail_code between 17 and 34
    -- and product_no is null
;

-- b (18개 할당: 17~34)
UPDATE tb_product_detail
SET product_no = 'b'
WHERE category_code = 'KB'
    AND product_detail_code BETWEEN 17 AND 34
    AND product_no IS NULL;

commit;
-- d (4개 할당: 35~38)
UPDATE tb_product_detail
SET product_no = 'd'
WHERE category_code = 'KB'
    AND product_detail_code BETWEEN 35 AND 38
    AND product_no IS NULL;

-- e (1개 할당: 39)
UPDATE tb_product_detail
SET product_no = 'e'
WHERE category_code = 'KB'
    AND product_detail_code = 39
    AND product_no IS NULL;


-- ----------------------------

select * from tb_product_detail where product_no is null;

SELECT product_detail_code
FROM tb_product_detail
WHERE category_code = 'PO'
  AND (
    loginID IS NOT NULL
        OR order_date IS NOT NULL
        OR rental_date IS NOT NULL
        OR return_date IS NOT NULL
        OR order_reason IS NOT NULL
    );

SELECT product_detail_code
FROM tb_product_detail
WHERE category_code = 'PO'
  AND product_no IS NULL
  AND loginID IS NULL
  AND order_date IS NULL
  AND rental_date IS NULL
  AND return_date IS NULL
  AND order_reason IS NULL
ORDER BY product_detail_code
LIMIT 9;
SELECT product_no, COUNT(*)
FROM tb_product_detail
WHERE category_code = 'PO'
GROUP BY product_no;
SELECT *
FROM tb_product_detail
WHERE category_code = 'PO'
ORDER BY product_detail_code;


SELECT product_detail_code
FROM tb_product_detail
WHERE category_code = 'PO'
  AND (
    loginID IS NOT NULL
        OR order_date IS NOT NULL
        OR rental_date IS NOT NULL
        OR return_date IS NOT NULL
        OR order_reason IS NOT NULL
    );



SELECT product_detail_code
FROM tb_product_detail
WHERE category_code = 'PO'

  AND loginID IS NULL
  AND order_date IS NULL
  AND rental_date IS NULL
  AND return_date IS NULL
  AND order_reason IS NULL
ORDER BY product_detail_code
LIMIT 7;

SELECT product_no, COUNT(*)
FROM tb_product_detail
WHERE category_code = 'PO'
GROUP BY product_no;


select * from tb_product_detail;

select * from tb_product_info where product_no='y';

select * from tb_product_detail where product_state='N';
select count(*) from tb_product_detail where product_state='N';

-- 사용자 id 리스트
select * from tb_userinfo
where user_type='B';



-- --------------------------------------------------------

UPDATE tb_product_detail
SET loginID = '102757257767997848001', order_date = '2025-09-01', product_state = 'O'
WHERE product_detail_code = 9;

UPDATE tb_product_detail
SET loginID = '112558986242164249938', order_date = '2025-09-02', product_state = 'O'
WHERE product_detail_code = 11;

UPDATE tb_product_detail
SET loginID = 'asd123', order_date = '2025-09-03', product_state = 'O'
WHERE product_detail_code = 13;

UPDATE tb_product_detail
SET loginID = 'asdf12345', order_date = '2025-09-04', product_state = 'O'
WHERE product_detail_code = 17;

UPDATE tb_product_detail
SET loginID = 'cpcp107', order_date = '2025-09-05', product_state = 'O'
WHERE product_detail_code = 18;

UPDATE tb_product_detail
SET loginID = 'hyunwoo52014', order_date = '2025-09-06', product_state = 'O'
WHERE product_detail_code = 20;

UPDATE tb_product_detail
SET loginID = 'tester4455', order_date = '2025-09-07', product_state = 'O'
WHERE product_detail_code = 21;

UPDATE tb_product_detail
SET loginID = 'testtest', order_date = '2025-09-08', product_state = 'O'
WHERE product_detail_code = 23;

UPDATE tb_product_detail
SET loginID = 'testuser1234', order_date = '2025-09-09', product_state = 'O'
WHERE product_detail_code = 24;

UPDATE tb_product_detail
SET loginID = 'user', order_date = '2025-09-10', product_state = 'O'
WHERE product_detail_code = 25;

UPDATE tb_product_detail
SET loginID = 'user1', order_date = '2025-09-11', product_state = 'O'
WHERE product_detail_code = 26;

UPDATE tb_product_detail
SET loginID = 'user12', order_date = '2025-09-12', product_state = 'O'
WHERE product_detail_code = 27;

UPDATE tb_product_detail
SET loginID = 'user1234', order_date = '2025-09-13', product_state = 'O'
WHERE product_detail_code = 28;

UPDATE tb_product_detail
SET loginID = 'user2', order_date = '2025-09-14', product_state = 'O'
WHERE product_detail_code = 29;

UPDATE tb_product_detail
SET loginID = '102757257767997848001', order_date = '2025-09-15', product_state = 'O'
WHERE product_detail_code = 30;

UPDATE tb_product_detail
SET loginID = '112558986242164249938', order_date = '2025-09-16', product_state = 'O'
WHERE product_detail_code = 31;

UPDATE tb_product_detail
SET loginID = 'asd123', order_date = '2025-09-17', product_state = 'O'
WHERE product_detail_code = 33;

UPDATE tb_product_detail
SET loginID = 'asdf12345', order_date = '2025-09-18', product_state = 'O'
WHERE product_detail_code = 34;

UPDATE tb_product_detail
SET loginID = 'cpcp107', order_date = '2025-09-19', product_state = 'O'
WHERE product_detail_code = 35;

UPDATE tb_product_detail
SET loginID = 'hyunwoo52014', order_date = '2025-09-20', product_state = 'O'
WHERE product_detail_code = 36;

UPDATE tb_product_detail
SET loginID = 'tester4455', order_date = '2025-09-21', product_state = 'O'
WHERE product_detail_code = 37;

UPDATE tb_product_detail
SET loginID = 'testtest', order_date = '2025-09-22', product_state = 'O'
WHERE product_detail_code = 38;

UPDATE tb_product_detail
SET loginID = 'testuser1234', order_date = '2025-09-23', product_state = 'O'
WHERE product_detail_code = 39;

UPDATE tb_product_detail
SET loginID = 'user', order_date = '2025-09-24', product_state = 'O'
WHERE product_detail_code = 42;

UPDATE tb_product_detail
SET loginID = 'user1', order_date = '2025-09-25', product_state = 'O'
WHERE product_detail_code = 44;

UPDATE tb_product_detail
SET loginID = 'user12', order_date = '2025-09-26', product_state = 'O'
WHERE product_detail_code = 45;

UPDATE tb_product_detail
SET loginID = 'user1234', order_date = '2025-09-27', product_state = 'O'
WHERE product_detail_code = 46;

UPDATE tb_product_detail
SET loginID = 'user2', order_date = '2025-09-28', product_state = 'O'
WHERE product_detail_code = 48;

UPDATE tb_product_detail
SET loginID = '102757257767997848001', order_date = '2025-09-29', product_state = 'O'
WHERE product_detail_code = 50;

UPDATE tb_product_detail
SET loginID = '112558986242164249938', order_date = '2025-09-30', product_state = 'O'
WHERE product_detail_code = 51;



-- ------------------------------------------------------
select * from tb_product_detail where product_state='R' or product_state='O';
select * from tb_product_detail where (product_state='O' or product_state='R' ) and loginID is null;