<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.repository.returns.ReturnsMapper">

    <!-- 반납 목록 조회 (페이징 적용) -->
    <select id="returnsList" resultType="kr.happyjob.study.vo.returns.ReturnsModel">
        SELECT
        D.category_code,
        I.product_name,
        CD.category_name,
        D.product_state,
        D.product_detail_code
        FROM tb_product_detail D
        JOIN tb_product_info I
        ON D.product_no = I.product_no
        JOIN tb_category_code CD
        ON CD.category_code = D.category_code
        <where>
            AND D.loginID = #{loginId}
            <if test="productState != null and productState != ''">
                AND D.product_state = #{productState}
            </if>
        </where>
        ORDER BY D.product_detail_code
        LIMIT #{pageIndex}, #{pageSize}
    </select>

    <!-- 전체 데이터 수 조회 (totalCount용) -->
    <select id="returnsCnt" resultType="int">
        SELECT COUNT(*)
        FROM tb_product_detail D
        JOIN tb_product_info I
        ON D.product_no = I.product_no
        <where>
            AND D.loginID = #{loginId}
            <if test="productState != null and productState != ''">
                AND D.product_state = #{productState}
            </if>
        </where>
    </select>

    <!-- 일괄 반납 신청 -->
    <update id="returnAll">
        UPDATE tb_product_detail
        SET product_state = 'R'
        WHERE product_state='Y'
          AND loginID = #{loginId}
    </update>

    <!-- 개별 반납 신청 -->
    <update id="returnOne">
        /*kr.happyjob.study.repository.returns.ReturnsMapper.returnOne*/
        UPDATE tb_product_detail
        SET product_state = 'R'     /* 상태를 'R'(반납 신청 중)으로 변경 */
        WHERE
            product_detail_code = #{productDetailCode} /* 특정 장비 코드만 */
          AND loginID = #{loginId}
          AND product_state = 'Y'   /* 현재 'Y'(사용 중)인 장비만 허용 */
    </update>

    <update id="cancelReturn">
        /*kr.happyjob.study.repository.returns.ReturnsMapper.cancelReturn*/
        UPDATE tb_product_detail
        SET product_state = 'Y'
        WHERE
        product_detail_code = #{productDetailCode}
        AND loginID = #{loginId}
        AND product_state = 'R'
    </update>

</mapper>
