<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.requests.HistoryMapper">
    <select id="historyList" resultType="kr.happyjob.study.vo.requests.HistoryModel">
        /* kr.happyjob.study.vo.requests.historyList */
        SELECT
            U.team AS team,
            U.name AS name,
            P.product_name AS productName,
            PD.rental_date AS rentalDate,
            PD.return_date AS returnDate,
            PD.product_detail_code AS productDetailCode,
            PD.product_no AS productNo,
            PD.product_state AS status
        FROM tb_product_detail PD
        INNER JOIN tb_product_info P ON PD.product_no = P.product_no
        INNER JOIN tb_userinfo U ON PD.loginID = U.loginID
        <where>
            PD.rental_date IS NOT NULL OR PD.return_date IS NOT NULL
            <if test="loginID != null and !loginID.equals('')">
                AND PD.loginID = #{loginID}
            </if>
            <if test="searchKey != null and !searchKey.equals('') and search != null and !search.equals('')">
                <choose>
                    <when test="searchKey == 'status'">
                        AND PD.product_state = #{search}
                    </when>
                    <when test="searchKey == 'team'">
                        AND U.team LIKE CONCAT('%', #{search}, '%')
                    </when>
                    <when test="searchKey == 'name'">
                        AND U.name LIKE CONCAT('%', #{search}, '%')
                    </when>
                    <when test="searchKey == 'itProduct'">
                        AND P.product_name LIKE CONCAT('%', #{search}, '%')
                    </when>
                </choose>
            </if>
            <if test="searchKey == null or searchKey.equals('') or search == null or search.equals('')">
                AND PD.product_state IN ('Y', 'N', 'R')
            </if>
        </where>
        <choose>
            <when test="searchKey == 'status' and search != null and !search.equals('')">
                ORDER BY PD.product_state = #{search} DESC, PD.rental_date DESC
            </when>
            <when test="searchKey == 'team' and search != null and !search.equals('')">
                ORDER BY U.team LIKE CONCAT(#{search}, '%') DESC, PD.rental_date DESC
            </when>
            <when test="searchKey == 'name' and search != null and !search.equals('')">
                ORDER BY U.name LIKE CONCAT(#{search}, '%') DESC, PD.rental_date DESC
            </when>
            <when test="searchKey == 'itProduct' and search != null and !search.equals('')">
                ORDER BY P.product_name LIKE CONCAT(#{search}, '%') DESC, PD.rental_date DESC
            </when>
            <otherwise>
                ORDER BY PD.rental_date DESC
            </otherwise>
        </choose>
        LIMIT #{pageIndex}, #{pageSize}
    </select>

    <select id="historyCnt" resultType="int">
        /* kr.happyjob.study.vo.requests.historyCnt */
        SELECT
            COUNT(*)
        FROM tb_product_detail PD
        INNER JOIN tb_product_info P ON PD.product_no = P.product_no
        INNER JOIN tb_userinfo U ON PD.loginID = U.loginID
        <where>
            PD.rental_date IS NOT NULL OR PD.return_date IS NOT NULL
            <if test="loginID != null and !loginID.equals('')">
                AND PD.loginID = #{loginID}
            </if>
            <if test="searchKey != null and !searchKey.equals('') and search != null and !search.equals('')">
                <choose>
                    <when test="searchKey == 'status'">
                        AND PD.product_state = #{search}
                    </when>
                    <when test="searchKey == 'team'">
                        AND U.team LIKE CONCAT('%', #{search}, '%')
                    </when>
                    <when test="searchKey == 'name'">
                        AND U.name LIKE CONCAT('%', #{search}, '%')
                    </when>
                    <when test="searchKey == 'itProduct'">
                        AND P.product_name LIKE CONCAT('%', #{search}, '%')
                    </when>
                </choose>
            </if>
            <if test="searchKey == null or searchKey.equals('') or search == null or search.equals('')">
                AND PD.product_state IN ('Y', 'N', 'R')
            </if>
        </where>
    </select>

    <select id="detailHistory" parameterType="java.util.Map" resultType="kr.happyjob.study.vo.requests.HistoryModel">
        /* kr.happyjob.study.vo.requests.detailHistory */
        SELECT
            U.team AS team,
            U.name AS name,
            P.product_name AS productName,
            PD.product_detail_code AS productDetailCode,
            PD.rental_date AS rentalDate,
            PD.return_date AS returnDate,
            PD.order_reason AS orderReason,
            PD.product_no AS productNo,
            PD.order_date AS orderDate
        FROM tb_product_detail PD
                 LEFT JOIN tb_product_info P ON PD.product_no = P.product_no
                 LEFT JOIN tb_userinfo U ON PD.loginID = U.loginID
        WHERE PD.product_no = #{productNo}
          AND PD.product_detail_code = #{productDetailCode}
    </select>

    <delete id="deleteHistory" parameterType="java.util.Map">
        /* kr.happyjob.study.vo.requests.deleteHistory*/
        DELETE
        FROM tb_product_detail
        WHERE product_no = #{productNo}
          AND product_detail_code = #{productDetailCode}
    </delete>
</mapper>